<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="./stylesheet/style.css" />
</head>
<body>
    <nav>
        <div class ="links">
            <a href="./" >Home</a>
            <a href="./about" >About</a>
            <a href="./works" >Works</a>
            <a href="./gallery" >Gallery</a>  
        </div>
    </nav>
    <h1 id="works-heading">The Works of Elon Musk</h1>
    <div id="images-works">
    <img class="works-img" src="./images/tesla-logo-header.jpeg" />
    
    <img class="works-img" src="./images/SpaceX-Logo.png" />
    
    <img class="works-img" src="./images/Neuralink_logo.svg.png" />
    
    <img class="works-img" src="./images/The_Boring_Company_Logo.svg.png" />
    </div>
</body>
</html>